{% extends "base.html" %}
{% block css %}
<style type="text/css">
	ul{list-style-type:none;
	   margin:10px;
       padding:0px;	
	   line-height:10px;	
	}
	li{list-style-type:none;
	   margin:10px;
       padding:0px;
	   line-height:15px;	
	}
</style>
{% endblock %}
{% block body_left %}
        <div class="row">
            <div class="col-md-2">
                <div class="well">
                    <h4>文档分类</h4>
                        <li><a href="/blog/blog_show">all({{blog_name_all_count}})</a></li>
                        {% for blog_class,blog_class_num in blog_class_type_num.items %}
                        <li><a href="/blog/blog_class={{blog_class}}">{{blog_class}}({{blog_class_num}})</a></li>
                        {% endfor %}
                    <h4>添加文档</h4>
                        <li><a href="/blog/blog_content_add">文档添加</a></li>
                    <h4>附件列表</h4>
                        <li><a href="/blog/blog_file_list">附件列表</a></li>
                    <h4>分类管理</h4>
                        <li><a href="/blog/blog_class_show">父类列表</a></li>
                        <li><a href="/blog/blog_class_add">父类添加</a></li>
                        <li><a href="/blog/blog_subclass_show">子类列表</a></li>
                        <li><a href="/blog/blog_subclass_add">子类添加</a></li>
            </div>
        </div>
        {% endblock %}
