{% extends "base_body.html" %}
{% block body %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% if message %}
            <div class = "col-md-12">
                <strong><font color="red">{{message}}</font></strong>
            </div>
            {% endif %}
    <div class="col-md-12">
        <div class="form-group">
        <label class="col-md-2 control-label">用户名</label>
            <div class="col-md-4">
                {{username}}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputuser_old_passwd" class="col-md-2 control-label">旧密码</label>
            <div class="col-md-4">
                <input type="password" name="user_old_passwd" class="form-control" id="inputuser_old_passwd">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputuser_new_passwd" class="col-md-2 control-label">新密码</label>
            <div class="col-md-4">
                <input type="password" name="user_new_passwd" class="form-control" id="inputuser_new_passwd">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputuser_new_true" class="col-md-2 control-label">新密码确认</label>
            <div class="col-md-4">
                <input type="password" name="user_new_true" class="form-control" id="inputuser_new_true">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <a class="btn btn-danger" href='/cmdb/'>取消</a>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

