{% extends "base_body.html" %}
{% block body %}
    <div class="col-md-10">
        <div class="col-md-9">
            <strong>格式样例</strong>
            <pre>
游戏添加
	1)选择左侧导航栏中的“添加游戏”选项；
	2)填写该游戏的基本信息，其中游戏名称为必填项，其他没有的选项可以不填；
	3)添加的游戏具体信息可以到“游戏列表”中查看;
	
IDC添加
	1)选择左侧导航栏中的“添加IDC”选项；
	2)填写该IDC的信息，其中IDC名称为必填项，其他选项可以不填;
	3)添加的IDC具体信息可以到“IDC列表”中查看;


添加服务器
	服务器标示添加格式为:用途.s区号 例如:game.s5   gamedb.s5   dns.s1
	
	单台添加
	1)选择左侧导航栏中的“单台添加”选项；
	2)填写所需要的各种信息，服务器标示等，服务器标示为必填项，其他可以不填；
	3)服务器标示最好可以基本反映出该服务的信息，例如所处位置，所运行游戏等;

	多台添加
	1)选择左侧导航栏中“批量添加”选项;
	2)将所有服务器信息按照如下格式排列，其中每个服务器的信息一行；
		服务器标示,内网ip地址,外网ip地址,主机类型,服务器模板,IDC所属公司,服务器IDC,服务器平台,服务器产品线,服务器状态,服务器开始使用的时间
            </pre>
        </div>
    </div>
{% endblock %}
