{% extends "base_body.html" %}
{% block body %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% if message %}
            <div class = "col-md-12">
                <strong><font color="red">{{message}}</font></strong>
            </div>
            {% endif %}
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputgame_type" class="col-md-2 control-label">游戏平台</label>
            <div class="col-md-4">
                <select type="text" name="game_type" class="form-control" id="game_type">
                    <option>{{g_edit.game_type}}</option>
                    {% for game_type in game_type_all %}
                    {% if game_type.game_type_name != g_edit.game_type %}
                    <option>{{game_type}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputgame_name" class="col-md-2 control-label">游戏名称</label>
            <div class="col-md-4">
                <input type="text" name="game_name" class="form-control" id="game_name" value="{{g_edit.game_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputgame_appid" class="col-md-2 control-label">Appid</label>
            <div class="col-md-4">
                <input type="text" name="game_appid" class="form-control" id="inputgame_appid" value="{{g_edit.game_appid}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputoper_models" class="col-md-2 control-label">运维模式</label>
            <div class="col-md-4">
                <select name="oper_models" class="form-control" id="iputoper_models">
                    <option>{{g_edit.oper_models}}</option>
                    {% for models in oper_models %}
                        {% if models != g_edit.oper_models %}
                            <option>{{models}}</option>
                        {% endif %}
                    {%endfor%}
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputuser_name" class="col-md-2 control-label">运维负责人</label>
            <div class="col-md-4">
                <input type="text" name="user_name" class="form-control" id="inputuser_name" value="{{g_edit.user_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputuser_phone" class="col-md-2 control-label">运维负责人电话</label>
            <div class="col-md-4">
                <input type="text" name="user_phone" class="form-control" id="inputuser_phone" value="{{g_edit.user_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputyunying_name" class="col-md-2 control-label">第一运营负责人</label>
            <div class="col-md-4">
                <input type="text" name="yunying_name" class="form-control" id="inputyunying_name" value="{{g_edit.yunying_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputyunying_phone" class="col-md-2 control-label">第一运营负责人电话</label>
            <div class="col-md-4">
                <input type="text" name="yunying_phone" class="form-control" id="inputyungying_phone" value="{{g_edit.yunying_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputbackupyunying_name" class="col-md-2 control-label">第二运营负责人</label>
            <div class="col-md-4">
                <input type="text" name="backup_yunying_name" class="form-control" id="inputbackupyunying_name" value="{{g_edit.backup_yunying_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputbackupyunying_phone" class="col-md-2 control-label">第二运营负责人电话</label>
            <div class="col-md-4">
                <input type="text" name="backup_yunying_phone" class="form-control" id="inputbackupyunying_phone" value="{{g_edit.backup_yunying_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputdeveloper_name" class="col-md-2 control-label">第一项目负责人</label>
            <div class="col-md-4">
                <input type="text" name="developer_name" class="form-control" id="inputdeveloper_name" value="{{g_edit.developer_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputdeveloper_phone" class="col-md-2 control-label">第一项目负责人电话</label>
            <div class="col-md-4">
                <input type="text" name="developer_phone" class="form-control" id="inputdeveloper_phone" value="{{g_edit.developer_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputbackupdeveloper_name" class="col-md-2 control-label">第二项目负责人</label>
            <div class="col-md-4">
                <input type="text" name="backup_developer_name" class="form-control" id="inputbackupdeveloper_name" value="{{g_edit.backup_developer_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputbackupdeveloper_phone" class="col-md-2 control-label">第二项目负责人电话</label>
            <div class="col-md-4">
                <input type="text" name="backup_developer_phone" class="form-control" id="inputbackupdeveloper_phone" value="{{g_edit.backup_developer_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputgame_line" class="col-md-2 control-label">游戏状态</label>
            <div class="col-md-4">
                <select name="game_line" class="form-control" id="iputgame_line">
                    <option>{{g_edit.game_line}}</option>
                    {% for g_status in game_status %}
                        {% if g_status != g_edit.game_line %}
                            <option>{{g_status}}</option>
                        {% endif %}
                    {%endfor%}
                    </select>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <a class="btn btn-danger" href='/cmdb/game_all/'>取消</a>
            </div>
            <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

