{% extends "base_body.html" %}
{% block body %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% if message %}
            <div class = "col-md-12">
                <strong><font color="red">{{message}}</font></strong>
            </div>
            {% endif %}
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_company" class="col-md-2 control-label">公司名称</label>
            <div class="col-md-4">
                <input type="text" name="idc_company" class="form-control" id="inputidc_company" value="{{idc_message.idc_company}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_name" class="col-md-2 control-label">IDC名称</label>
            <div class="col-md-4">
                <input type="text" name="idc_name" class="form-control" id="inputidc_name" value="{{idc_message.idc_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_name" class="col-md-2 control-label">IDC名称简写</label>
            <div class="col-md-4">
                <input type="text" name="idc_scode" class="form-control" id="inputidc_name" value="{{idc_message.idc_scode}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_address" class="col-md-2 control-label">IDC地址</label>
            <div class="col-md-4">
                <input type="text" name="idc_address" class="form-control" id="inputidc_address" value="{{idc_message.idc_address}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_contact" class="col-md-2 control-label">IDC联系人</label>
            <div class="col-md-4">
                <input type="text" name="idc_contact" class="form-control" id="inputidc_contact" value="{{idc_message.idc_contact}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputidc_phone" class="col-md-2 control-label">IDC联系人电话</label>
            <div class="col-md-4">
                <input type="text" name="idc_phone" class="form-control" id="inputidc_phone" value="{{idc_message.idc_phone}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <a class="btn btn-danger" href='/cmdb/idc_all'>取消</a>
            </div>
            <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

