{% extends "base_body.html" %}
{% block body %}
    <div class="col-md-12">
        <div class="col-md-9">
            <strong>使用说明</strong>
            <pre>
批量添加服务器时,每服务器一行,服务器的信息之间以","进行分隔,没有的信息项不填

服务器标示,内网ip地址,外网ip地址,主机类型,服务器模板,IDC所属公司,服务器IDC,服务器平台,服务器状态,服务器开始使用的时间

例如没有内网ip的情况:
game.s5,111.1.1.3,,物理机,T001,腾讯,广州,手游安卓斩仙,腾讯开放平台,Line_On,2013-01-01

服务器开始使用的时间如果不填的话，则默认为今天
            </pre>
        </div>
        <div class="col-md-2">
            <br />
            <a href="/cmdb/server_simplify_add/" class="btn btn-info">按条添加</a>
        </div>
    </div>
    {% if mess %}
        {% for m in mess %}
            <div class='col-md-12'>
            <div class='col-md-9'>
                <font color='red'>{{m}}</font>
            </div>
            </div>
        {% endfor %}
    {% endif %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class='col-md-12'>
                <div class="col-md-9">
                    <textarea class="form-control" name="many_server" rows="15">{% for manage in error_manage_list %}{{manage}}{% endfor %}</textarea>
                </div>
        </div>

        <div class="col-md-12">
            <div class="form-group"></div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-7"></div>
                <div class="col-md-1">
                    <a class="btn btn-danger" href='/cmdb/'>取消</a>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

