{% extends "base_body.html" %}
{% block body %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        {% if message %}
            <div class = "col-md-12">
                <strong><font color="red">{{message}}</font></strong>
            </div>
        {% endif %}
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_name" class="col-md-2 control-label">模板名称</label>
            <div class="col-md-4">
                <input type="text" name="template_name" class="form-control" id="inputtemplate_name" value="{{one_template.template_name}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_model" class="col-md-2 control-label">服务器型号</label>
            <div class="col-md-4">
                <input type="text" name="template_model" class="form-control" id="inputtemplate_model" value="{{one_template.template_model}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_cpu" class="col-md-2 control-label">服务器cpu</label>
            <div class="col-md-4">
                <input type="text" name="template_cpu" class="form-control" id="inputtemplate_cpu" value="{{one_template.template_cpu}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_mem" class="col-md-2 control-label">服务器内存</label>
            <div class="col-md-4">
                <input type="text" name="template_mem" class="form-control" id="inputtemplate_mem" value="{{one_template.template_mem}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_disk" class="col-md-2 control-label">服务器磁盘</label>
            <div class="col-md-4">
                <input type="text" name="template_disk" class="form-control" id="inputtemplate_disk" value="{{one_template.template_disk}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
        <label for="inputtemplate_money" class="col-md-2 control-label">服务器价格(元)</label>
            <div class="col-md-4">
                <input type="text" name="template_money" class="form-control" id="inputtemplate_money" value="{{one_template.template_money}}">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-1">
                <a class="btn btn-danger" href='/cmdb/template_show'>取消</a>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}

