{% extends "base_body.html" %}
{% block body %}
    <div class="col-md-10">
        <div class="col-md-9">
            <strong>格式样例</strong>
            <pre>
2013-12-04 李林 张小光
2013-12-05 张小光 李林
            </pre>
        </div>
    </div>
    {% if message %}
        {% for m in message %}
            <div class='col-md-10'>
            <div class='col-md-9'>
                <font color='red'>{{m}}</font>
            </div>
            </div>
        {% endfor %}
    {% endif %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
        <div class='col-md-10'>
                <div class="col-md-9">
                    <textarea class="form-control" name="many_yunweizhiban" rows="15">{{many_yunweizhiban}}</textarea>
                </div>
        </div>

        <div class="col-md-10">
            <div class="form-group"></div>
        </div>

        <div class="col-md-10">
            <div class="form-group">
                <div class="col-md-7"></div>
                <div class="col-md-1">
                    <a class="btn btn-danger" href='/cmdb/yunweizhiban/'>取消</a>
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary">添加</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

