<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/js/easyui/themes/icon.css">
        <link rel="stylesheet" href="/static/js/easyui/demo/demo.css">
        <link rel="stylesheet" href="/static/js/easyui/themes/default/easyui.css">
        <script type="text/javascript" src="/static/js/jquery/jquery.js"></script>
        <script type="text/javascript" src="/static/js/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript">
			    function reload(){  
                    var node = $('#tt2').tree('getSelected');  
                    if (node){  
		                $('#tt2').tree('reload', node.target);  
                    }else {  
		                $('#tt2').tree('reload');  
		            }  
		        }  
		        function getChildren(){  
		            var node = $('#tt2').tree('getSelected');  
		            if (node){  
		                var children = $('#tt2').tree('getChildren', node.target);  
		            } else {  
		                var children = $('#tt2').tree('getChildren');  
		            }  
		            var s = '';  
		            for(var i=0; i<children.length; i++){  
		                s += children[i].text + ',';  
		            }  
		            alert(s);  
		        }  
		        function getChecked(){  
		            var nodes = $('#tt2').tree('getChecked');  
		            var s = '';  
		            for(var i=0; i<nodes.length; i++){  
		                if (s != '') s += ',';  
		                s += nodes[i].text;  
		            }  
		            alert(s);  
		        }  
		        function getSelected(){  
		            var node = $('#tt2').tree('getSelected');  
		            alert(node.text);  
		        }  
		        function collapse(){  
		            var node = $('#tt2').tree('getSelected');  
		            $('#tt2').tree('collapse',node.target);  
		        }  
		        function expand(){  
		            var node = $('#tt2').tree('getSelected');  
		            $('#tt2').tree('expand',node.target);  
		        }  
		        function collapseAll(){  
		            var node = $('#tt2').tree('getSelected');  
		            if (node){  
		                $('#tt2').tree('collapseAll', node.target);  
		            } else {  
		                $('#tt2').tree('collapseAll');  
		            }  
		        }  
		        function expandAll(){  
		            var node = $('#tt2').tree('getSelected');  
		            if (node){  
		                $('#tt2').tree('expandAll', node.target);  
		            } else {  
		                $('#tt2').tree('expandAll');  
		            }  
		        }  
		        function append(){  
		            var node = $('#tt2').tree('getSelected');  
		            $('#tt2').tree('append',{  
		                parent: (node?node.target:null),  
		                data:[{  
		                    text:'new1',  
		                    checked:true  
		                },{  
		                    text:'new2',  
		                    state:'closed',  
		                    children:[{  
		                        text:'subnew1'  
		                    },{  
		                        text:'subnew2'  
		                    }]  
		                }]  
		            });  
		        }  
	         function remove(){  
		            var node = $('#tt2').tree('getSelected');  
		            $('#tt2').tree('remove', node.target);  
		        }  
		        function update(){  
		            var node = $('#tt2').tree('getSelected');  
		            if (node){  
		                node.text = '<span style="font-weight:bold">new text</span>';  
		                node.iconCls = 'icon-save';  
		                $('#tt2').tree('update', node);  
		            }  
		        }  
	        function isLeaf(){  
		            var node = $('#tt2').tree('getSelected');  
		            var b = $('#tt2').tree('isLeaf', node.target);  
		            alert(b)  
		        }  
        </script> 
		</head>  
        <body class="easyui-layout">
            <script language="JavaScript" type="text/javascript">
                $(function(){
                    $('#help_tree').tree({
                        checkbox: false,
                        animate:true,
                        lines:true,
                        onClick:function(node){
                        if(node.id){
                            $('#show_win').panel('refresh','documentation/'+(node.id.toLowerCase ? node.id.toLowerCase() : node.id)+'.html');
                        }else{
                            $('#help_tree').tree('expand',node.target);
                        }
                        }
                        });
                    $('#show_win').panel({
                        fit:true,
                        border:false,
                        noheader:false, 
                        href:'documentation/1.html'
                        });
                    });
                </script>
            <div data-options="region:'west',split:true,title:'导航窗口',iconCls:'icon-help'" style="width:248px;padding:5px; text-align:left;">
            <ul id="help_tree">
		        <li data-options="state:'closed'">  
		            <span>Folder</span>  
		            <ul>  
		                <li data-options="state:'closed'">  
		                    <span>Sub Folder 1</span>  
		                    <ul>  
		                        <li>  
		                            <span><a href="#">File 11</a></span>  
		                        </li>  
		                        <li>  
		                            <span>File 12</span>  
		                        </li>  
		                        <li>  
		                            <span>File 13</span>  
		                        </li>  
		                    </ul>  
		                </li>  
		                <li data-options="state:'closed'">  
		                    <span>Sub Folder 1</span>  
		                    <ul>  
		                        <li>  
		                            <span><a href="#">File 11</a></span>  
		                        </li>  
		                        <li>  
		                            <span>File 12</span>  
		                        </li>  
		                        <li>  
		                            <span>File 13</span>  
		                        </li>  
		                    </ul>  
		                </li>  
		            </ul>  
                </li>
		    </ul>   
            </div>
		</body>  
</html>  
