{% extends "base_body.html" %}
{% block js %}
<script>
    {% for k,v in a_server.items %}
    {% for s_m in v %}
    $(function ()
    { $("#{{s_m.0.id}}").popover();
      $("#{{s_m.0.id}}_left").popover({placement:'left'});
      $("#{{s_m.0.id}}_top").popover({placement:'top'});
      $("#{{s_m.0.id}}_bottom").popover({placement:'bottom'});
          });
    {% endfor %}
    {% endfor %}
</script>

{% endblock %}
{% block body %}
<form class="form-horizontal" role="form" method="get">
    <div class="col-md-10">
        <div class="form-group">
            <div class="col-md-6">
                <h5>所有服务器:{{server_count}}台</h5>
            </div>
            <div class="col-md-3 col-md-offset-2">
                <input type="text" name="search_text" class="form-control" value={{search_text}}>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
    <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">
                        <td align="center">主机类型</td>
                        <td align="center">IP地址</td>
                        <td align="center">状态</td>
                        <td align="center">管理员</td>
                        <td align="center">机房</td>
                        <td align="center">服务器标示</td>
                        <td align="center">合服信息</td>
                        <td align="center">项目</td>
                        <td align="center">公司</td>
                        <td align="center">硬件信息</td>
                        <tr>
                        {% for k,v in a_server.items %}
                        {% for s_m in v %}
                        {% if s_m.0.server_type == '云主机' %}
                        <td align="center"><img src="/static/bootstrap/img/yun.png"></td>
                        {% else %}
                        <td align="center"><img src="/static/bootstrap/img/wu.png"></td>
                        {% endif %}
                        <td align="center">
                        {% if k.0 != '0.0.0.0' %}
                        内:{{k.0}}
                        <br>
                        {% endif %}
                        {% if k.1 != '0.0.0.0' %}
                        外:{{k.1}}
                        {% endif %}
                        </td>
                        {% if s_m.0.server_status == 'Line_On' %}
                        <td align="center"><font color="green">On</font></td>
                        {% elif s_m.0.server_status == 'Line_Ready' %}
                        <td align="center"><font color="blue">Ready</font></td>
                        {% elif s_m.0.server_status == 'Line_Off' %}
                        <td align="center"><font color="red">Off</font></td>
                        {% else %}
                        <td align="center"><font color="red">Test</font></td>
                        {% endif %}
                        {% for admin in object_admin %}
                        {% if admin.game_name == s_m.0.server_product %}
                        <td align="center">{{admin.user_name}}</td>
                        {% endif %}
                        {% endfor %}
                        <td align="center">{{s_m.0.server_idc}}</td>
                        <td align="center">{{s_m.0.server_id}}</td>
                        {% for ip,server in ip_server_dict.items %}
                        {% if ip == k %}
                        <td align="center"><a href="/cmdb/in_ip={{k.0}}&out_ip={{k.1}}" id="{{s_m.0.id}}" rel="popover" data-trigger="hover" title="合服信息" data-content="{{server}}" data-original-title="合服信息">合服{{server|length}}(编辑)</a></td>
                        {% endif %}
                        {% endfor %}
                        <td align="center">{{s_m.0.server_product}}</td>
                        <td align="center">{{s_m.0.server_company}}</td>
                        {% for template_id,v in template_all_dict.items %}
                        {% if s_m.0.server_template_id == template_id %}
                        <td align="center"><a href="#" id="{{s_m.0.id}}_left" rel="popover" data-trigger="hover" title="{{v.0}}" data-content="型号:{{v.1}} CPU:{{v.2}} 磁盘:{{v.3}} 内存:{{v.4}}">硬件信息</a></td>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        <tr>
                        {%endfor%}
                    </table>
                </div>
                <div class="btn-group">
                        {% if page_num == "all" %}
                        <button name="page" type="submit" class="btn btn-info" value="all">all</button>
                        {% else %}
                        <button name="page" type="submit" class="btn btn-default" value="all">all</button>
                        {% endif %}
                        {% if first_page %}
                        <button name="page" type="submit" class="btn btn-default" value="1">首页</button>
                        {% endif %}
                        {% if page_up %}
                        <button name="page" type="submit" class="btn btn-default" value="{{page_num|add:-1}}">上一页</button>
                        {% endif %}
                        {% for page in page_list %}
                        {% if page == page_num %}
                        <button name="page" type="submit" class="btn btn-info" value="{{page}}">{{page}}</button>
                        {% else %}
                        <button name="page" type="submit" class="btn btn-default" value="{{page}}">{{page}}</button>
                        {% endif %}
                        {% endfor %}
                        {% if page_next %}
                        <button name="page" type="submit" class="btn btn-default" value="{{page_num|add:1}}">下一页</button>
                        {% endif %}
                        {% if last_page %}
                        <button name="page" type="submit" class="btn btn-default" value="{{last_page_value}}">尾页</button>
                        {% endif %}
                    </div>
        </div>
    </form>
        {% endblock %}
