{% extends "base_body.html" %}
{% block js %}
<script>
{% for game in game_all_name %}
$(function ()
{ $("#{{game.id}}").popover();
    $("#{{game.id}}_left1").popover({placement:'left'});
    $("#{{game.id}}_left2").popover({placement:'left'});
    $("#{{game.id}}_left3").popover({placement:'left'});
    $("#{{game.id}}_left4").popover({placement:'left'});
    $("#{{game.id}}_left").popover({placement:'left'});
    $("#{{game.id}}_top").popover({placement:'top'});
    $("#{{game.id}}_bottom").popover({placement:'bottom'});
});
{% endfor %}
</script>
{% endblock %}
{% block body %}
<form class="form-horizontal" role="form" method="get">
    <div class="col-md-10">
        <div class="col-md-1">
            <h5>游戏平台</h5>
        </div>
        <div class="col-md-2">
        <select name="game_type_name" class="form-control" id="game_type_name">
            <option>all</option>
            {% for game_type in game_type_name %}
            <option>{{game_type.game_type_name}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">查看</button>
        </div>
    </div>
    <br>
    <br>
    <div class="col-md-10">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <td align="center"><a>游戏平台</a></td>
                    <td align="center"><a>项目名称</a></td>
                    <td align="center"><a>Appid</a></td>
                    <td align="center"><a>游戏唯一标码</a></td>
                    <td align="center"><a>运维模式</a></td>
                    <td align="center"><a>运维负责人</a></td>
                    <!--<td align="center"><a>项目负责人电话</a></td>--!>
                    <td align="center"><a>运营负责人</a></td>
                    <!--<td align="center"><a>运营负责人电话</a></td>--!>
                    <td align="center"><a>项目负责人</a></td>
                    <td align="center"><a>游戏状态</a></td>
                    <td align="center"><a>编辑</a></td>
                    <tr>
                    {% for game in game_all_name %}
                    <td align="center">{{game.game_type}}</td>
                    <td align="center">{{game.game_name}}</td>
                    <td align="center">{{game.game_appid}}</td>
                    <td align="center">{{game.game_string_id}}</td>
                    <td align="center">{{game.oper_models}}</td>
                    <td align="center"><a href="#" id="{{game.id}}_left" rel="popover" data-trigger="hover" data-content="{{game.user_phone}}">{{game.user_name}}</a>
                    <td align="center">
                    {% if game.yunying_name %}
                        <a href="#" id="{{game.id}}_left1" rel="popover" data-trigger="hover" data-content="{{game.yunying_phone}}">{{game.yunying_name}}</a>
                        <br>
                    {% endif %}
                    {% if game.backup_yunying_name %}
                        <a href="#" id="{{game.id}}_left2" rel="popover" data-trigger="hover" data-content="{{game.backup_yunying_phone}}">{{game.backup_yunying_name}}</a>
                    {% endif %}
                    </td>
                    <td align="center">
                    {% if game.developer_name %}
                        <a href="#" id="{{game.id}}_left3" rel="popover" data-trigger="hover" data-content="{{game.developer_phone}}">{{game.developer_name}}</a>
                        <br>
                    {% endif %}
                    {% if game.backup_developer_name %}
                        <a href="#" id="{{game.id}}_left4" rel="popover" data-trigger="hover" data-content="{{game.backup_developer_phone}}">{{game.backup_developer_name}}</a>
                    {% endif %}
                    </td>
                    <td align="center">{{game.game_line}}</td>
                    <td align="center"><a href='/cmdb/game_edit&id={{game.id}}' class="btn btn-info">编辑</a></td>
                    <tr>
                    {%endfor%}
                </table>
            </div>
            <div class="btn-group">
                {% if page_num == "all" %}
                <button name="page" type="submit" class="btn btn-info" value="all">all</button>
                {% else %}
                <button name="page" type="submit" class="btn btn-default" value="all">all</button>
                {% endif %}
                {% if first_page %}
                <button name="page" type="submit" class="btn btn-default" value="1">首页</button>
                {% endif %}
                {% if page_up %}
                <button name="page" type="submit" class="btn btn-default" value="{{page_num|add:-1}}">上一页</button>
                {% endif %}
                {% for page in page_list %}
                {% if page == page_num %}
                <button name="page" type="submit" class="btn btn-info" value="{{page}}">{{page}}</button>
                {% else %}
                <button name="page" type="submit" class="btn btn-default" value="{{page}}">{{page}}</button>
                {% endif %}
                {% endfor %}
                {% if page_next %}
                <button name="page" type="submit" class="btn btn-default" value="{{page_num|add:1}}">下一页</button>
                {% endif %}
                {% if last_page %}
                <button name="page" type="submit" class="btn btn-default" value="{{last_page_value}}">尾页</button>
                {% endif %}
            </div>
    </div>
</form>
{% endblock %} 
