{% extends "base_body.html" %}
{% block body %}
    <div class="col-md-10">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <td align="center"><a>IDC名称</a></td>
                    <td align="center"><a>IDC地址</a></td>
                    <td align="center"><a>IDC联系人</a></td>
                    <td align="center"><a>IDC联系人电话</a></td>
                    <td align="center"><a>编辑</a></td>
                    <tr>
                    {% for idc_name in all_idc %}
                    <td align="center">{{idc_name.idc_name}}</td>
                    <td align="center">{{idc_name.idc_address}}</td>
                    <td align="center">{{idc_name.idc_contact}}</td>
                    <td align="center">{{idc_name.idc_phone}}</td>
                    <td align="center"><a href='/cmdb/idc_edit&id={{idc_name.id}}' class="btn btn-info">编辑</a></td>
                    <tr>
                    {%endfor%}
                </table>
                <a>所有IDC:{{all_idc_count}}个</a>
            </div>
        </div>
    </div>
{% endblock %} 
