{% extends "base_body.html" %}
{% block js %}
<script>
    {% for items in a_server %}
    $(function ()
    { $("#{{items.id}}").popover();
      $("#{{items.id}}_left").popover({placement:'left'});
      $("#{{items.id}}_top").popover({placement:'top'});
      $("#{{items.id}}_bottom").popover({placement:'bottom'});
          });
          {% endfor %}
</script>
{% endblock %}
{% block body %}
<form class="form-horizontal" role="form" method="get">
    <div class="col-md-10">
        <h5>共{{a_server|length}}台</h5>
    </div>
    <div class="col-md-10">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-condensed">
                        <td align="center">主机类型</td>
                        <td align="center">IP地址</td>
                        <td align="center">状态</td>
                        <td align="center">管理员</td>
                        <td align="center">机房</td>
                        <td align="center">服务器标示</td>
                        <td align="center">项目</td>
                        <td align="center">公司</td>
                        <td align="center">硬件信息</td>
                        <tr>
                        {% for items in a_server %}
                        {% if items.server_type == '云主机' %}
                        <td align="center"><img src="/static/bootstrap/img/yun.png"></td>
                        {% else %}
                        <td align="center"><img src="/static/bootstrap/img/wu.png"></td>
                        {% endif %}
                        <td align="center">
                        {% if items.server_in_ip  %}
                        内网:{{items.server_in_ip}}
                        <br>
                        {% endif %}
                        {% if items.server_out_ip %}
                        外网:{{items.server_out_ip}}
                        {% endif %}
			           </td>
                       {% if items.server_status == 'Line_On' %}
                       <td align="center"><font color="green">On</font></td>
                       {% elif items.server_status == 'Line_Ready' %}
                       <td align="center"><font color="blue">Ready</font></td>
                       {% elif items.server_status == 'Line_Off' %}
                       <td align="center"><font color="red">Off</font></td>
                       {% else %}
                       <td align="center"><font color="red">Test</font></td>
                        {% endif %}
                        {% for admin in object_admin %}
                        {% if admin.game_name == items.server_product %}
                        <td align="center">{{admin.user_name}}</td>
                        {% endif %}
                        {% endfor %}
                        <td align="center">{{items.server_idc}}</td>
                        <td align="center">{{items.server_id}}</td>
                        <td align="center">{{items.server_product}}</td>
                        <td align="center">{{items.server_company}}</td>
                        {% if items.server_model != '' %}
                        <td align="center"><a href="#" id="{{items.id}}_left" rel="popover" data-trigger="hover" title="硬件信息" data-content="型号:{{items.server_model}} CPU:{{items.server_cpu}} 磁盘:{{items.server_disk}} 内存:{{items.server_mem}}" data-original-title="硬件信息">硬件信息</a></td>
                        {% else %}
			            <td align="center"><a href="#" id="{{items.id}}_left" rel="popover" data-trigger="hover" title="硬件信息" data-content="型号:None CPU:{{items.server_cpu}} 磁盘:{{items.server_disk}} 内存:{{items.server_mem}}" data-original-title="硬件信息">硬件信息</a></td>
                        {% endif %}
                        <tr>
                        {%endfor%}
                    </table>
                </div>
        </div>
    </form>
        {% endblock %}
