{% extends "base_body.html" %}
{% block body %}
    <form class="form-horizontal" role="form" method="post">
        {% csrf_token %}
            <div class="col-md-10">
                <div class="form-group">
                    <label for="inputserver_id" class="col-md-2 control-label">选择查询字段</label>
                    <div class="col-md-3">
                        <select name="server_field" class="form-control" id="inputserver_field">
                            {% for field,value in server_field.items %}
                                <option>{{field}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" type="text" name="many_message">
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-info">查询</button>
                    </div>
                </div>
            </div>
            {% if check_server %}
                <div class="col-md-10">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-condensed">
                                <td align="center">标示</td>
                                <td align="center">外网IP</td>
                                <td align="center">内网IP</td>
                                <td align="center">主机类型</td>
                                <td align="center">型号</td>
                                <td align="center">CPU</td>
                                <td align="center">内存</td>
                                <td align="center">磁盘</td>
                                <td align="center">机房</td>
                                <td align="center">管理员</td>
                                <td align="center">公司</td>
                                <td align="center">项目</td>
                                <td align="center">状态</td>
                                <td align="center">编辑</td>
                                <tr>
                                {% for items in check_server %}
                                <td align="center">{{items.server_id}}</td>
                                <td align="center">
                                    {% if items.server_in_ip %}
                                    {{items.server_in_ip}}
                                    {% else %}
                                    None
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if items.server_out_ip %}
                                    {{items.server_out_ip}}
                                    {% else %}
                                    None
                                    {% endif %}
                                </td>
                                <td align="center">{{items.server_type}}</td>
                                <td align="center">{{items.server_model}}</td>
                                <td align="center">{{items.server_cpu}}</td>
                                <td align="center">{{items.server_mem}}</td>
                                <td align="center">{{items.server_disk}}</td>
                                <td align="center">{{items.server_idc}}</td>
                                <td align="center">{{items.server_company}}</td>
                        	{% if items.server_status == 'LINE_ON' %}
                        	<td align="center"><font color="green">on</font></td>
                        	{% elif items.server_status == 'LINE_READY' %}
                        	<td align="center"><font color="blue">ready</font></td>
                        	{% else %}
                        	<td align="center"><font color="red">off</font></td>
                        	{% endif %}
                                <td align="center">{{items.server_status}}</td>
                                <td><a href='/cmdb/server_edit&id={{items.id}}' class="btn btn-info">编辑</a></td>
                                 <tr>
                                {%endfor%}
                            </table>    
                                <ul class="pagination">
                                    <li><a href="?page=all">all</a></li>
                                    {% if page_all.has_previous %}
                                    <li><a href="?page={{page_all.previous_page_number}}">上一页</a></li>
                                    {% endif %}
                                    {% for page in page_list %}
                                    <li><a href="?page={{page}}">{{page}}</a></li>
                                    {% endfor %}
                                    {% if page_all.has_next %}
                                    <li><a href="?page={{page_all.next_page_number}}">下一页</a></li>
                                    {% endif %}
                                </ul>
                    </div>
                </div>
            </div>
            {% endif %}
    </form>
{% endblock %}
