{% extends "base_body.html" %}
{% block body %}
    <div class="col-md-10">
        <div class="col-md-3">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-condensed">
                    <td><a>主机类型名称</a></td>
                    <tr>
                    {% for type_name in type_all_name %}
                    <td>{{type_name}}</td>
                    <tr>
                    {%endfor%}
                </table>
                <a>所有主机类型:{{all_type_count}}个</a>
            </div>
        </div>
    </div>
{% endblock %} 
